{% assign size_option = 'size' %}
{% assign size_option_available = false %}
{%- for option in product.options_with_values -%}
  {% assign option_name = option.name | downcase %}
  {% if option_name == "shoe size" %}
    {% assign size_option = 'shoe size' %}
  {% endif %}
  {% if option_name == size_option %}
    {% assign size_option_available = true %}
  {% endif %}
{%- endfor -%}

{% unless product.available %}
  {% assign size_option_available = false %}
{% endunless %}

<div class="lookbook-product__content__details__item product--grid--main">
  <div class="lookbook-product__content__details__item-inner">
    <div class="lookbook-product__content__details__item__img cursor_pointer">
      {% comment %} {% assign removeURL = request.path | remove: '/pages/lookbook-' %}
      {% assign without_unisex = true %}
      {% for media in product.media %}
        {% if media.alt == removeURL %}
          <img onclick="location.href='{{ product.url }}'" src="{{ media | img_url: 'master' }}" alt="{{ media.alt }}" loading="lazy" width="{{ media.width }}" height="{{ media.height }}">
          {% assign without_unisex = false %}
          {% break %}
        {% endif %}
      {% endfor %} {% endcomment %}
      {% assign selected_color = color_name | downcase | strip %}
      {% assign matched_variant = nil %}
      {% assign matched_media = nil %}

      {% if selected_color != blank %}
        {%- for variant in product.variants -%}
          {%- for option in variant.options -%}
            {% assign option_value = option | downcase | strip %}
            {% if option_value == selected_color %}
              {% assign matched_variant = variant %}
              {% break %}
            {% endif %}
          {%- endfor -%}
          {% if matched_variant %}
            {% break %}
          {% endif %}
        {%- endfor -%}

        {%- for media in product.media -%}
          {% if media.alt %}
            {% assign alt_text = media.alt | downcase %}
            {% if alt_text contains '|' and alt_text contains selected_color %}
              {% assign matched_media = media %}
              {% break %}
            {% endif %}
          {% endif %}
        {%- endfor -%}
      {% endif %}

      {% if matched_variant %}
        {% assign product_link = product.url | append: '?variant=' | append: matched_variant.id %}
      {% else %}
        {% assign product_link = product.url %}
      {% endif %}


      {% comment %} <img onclick="location.href='{{ product.url }}'" src="{{ product.featured_media | img_url: 'master' }}" alt="{{ product.featured_media.alt }}" loading="lazy" width="{{ product.featured_media.width }}" height="{{ product.featured_media.height }}"> {% endcomment %}
      <img
        onclick="location.href='{{ product_link }}'"
        src="{% if matched_media %}{{ matched_media | img_url: 'master' }}{% else %}{{ product.featured_media | img_url: 'master' }}{% endif %}"
        alt="{% if matched_media %}{{ matched_media.alt }}{% else %}{{ product.featured_media.alt }}{% endif %}"
        loading="lazy" width="100%" height="100%"
      >

      {% comment %}
        <button class="heartBtn" aria-label="Favorite item">
          {% render 'icon-heart' %}
        </button>
      {% endcomment %}
      {% render 'wishlist-app-links', linkType: 'list-product', product: product  %}
    </div>
    <div class="lookbook-product__content__details__item__content">
      <div class="lookbook-product__content__details__item__deets">
        <a href="{{ product_link }}">
          <h6 class="medium">{{ product.title }}</h6>
          {%- assign color_option_index = -1 -%}
          {%- for option_name in product.options -%}
            {%- if option_name == 'Color' or option_name == 'Colour' -%}
              {%- assign color_option_index = forloop.index0 -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if color_option_index != -1 -%}
            {%- assign color_list = '' -%}

            {%- for variant in product.variants -%}
              {%- assign color_value = variant.options[color_option_index] | strip -%}
              {%- unless color_list contains color_value -%}
                {%- assign color_list = color_list | append: color_value | append: ',' -%}
              {%- endunless -%}
            {%- endfor -%}

            {%- assign unique_colors = color_list | split: ',' | compact -%}
            {% comment %} <p>in {{ unique_colors.first }}</p> {% endcomment %}
            {% if selected_color != blank %}
              <p>in {{ selected_color | capitalize }}</p>
            {% endif %}


          {% endif %}
        </a>
        {% comment %} <h6>{{ product.price | money }}</h6> {% endcomment %}

        <h6>
          {% if matched_variant %}
            {{ matched_variant.price | money }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        </h6>

      </div>
      <div class="lookbook-product__content__details__item__sizes">
        {%- assign size_option_index = -1 -%}
        {%- for option_name in product.options -%}
          {%- if option_name == 'Size' or option_name == 'size' -%}
            {%- assign size_option_index = forloop.index0 -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if size_option_index != -1 -%}
          {%- assign size_list = '' -%}

          {%- for variant in product.variants -%}
            {%- assign size_value = variant.options[size_option_index] | strip -%}
            {%- unless size_list contains size_value -%}
              {%- assign size_list = size_list | append: size_value | append: ',' -%}
            {%- endunless -%}
          {%- endfor -%}
          {%- assign unique_sizes = color_list | split: ',' | compact -%}
        
        {% endif %}
        <div class="size-select{% unless product.available %} hidden{% endunless %}" data-recommended="10">
          <select class="size-select__select" name="size" aria-label="Select size">
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10" selected>10</option>
            <option value="12">12</option>
            <option value="14" disabled>14</option>
            <option value="16" disabled>16</option>
          </select>
          <div class="size-select__options{% unless product.available %} product_not_available{% endunless %}">
            {% render 'grid-option-size',
              card_product: product,
              selected_color: selected_color
            %}

            {% comment %}
              <div class="option" data-value="6"><small>6</small></div>
              <div class="option" data-value="8"><small>8</small></div>
              <div class="option" data-value="10"><small>10</small></div>
              <div class="option" data-value="12"><small>12</small></div>
              <div class="option option--out-of-stock" data-value="14"><small>14</small></div>
              <div class="option option--out-of-stock" data-value="16"><small>16</small></div>
            {% endcomment %}
          </div>
          <button class="btn btn--outline hidden"><small>RECOMMENDED SIZE</small></button>
        </div>
      </div>
      
      {% comment %} <div class="accordion__list">
        {%- for i in (1..5) -%}
          {% assign key = 'accordion_' | append: forloop.index | append: '_title' %}
          {% assign title = product.metafields.custom[key].value %}
          {% assign content_key = 'accordion_' | append: forloop.index | append: '_content' %}
          {% assign content_accordion = product.metafields.custom[content_key] %}
          {%- if title != blank and content_accordion != blank -%}
            {% if title != blank %}
              <details class="accordion">
                <summary class="accordion__head">
                  <h5>{{ title }}</h5>
                </summary>
                <div class="accordion__body">
                  <div class="accordion__body__inner">
                    {{ content_accordion | metafield_tag }}
                  </div>
                </div>
              </details>
            {% endif %}
          {%- endif -%}
        {%- endfor -%}
      </div> {% endcomment %}

      <a href="#" class="btn btn--dark atc_JS{% unless product.available %} button_disabled{% endunless %}" disabled><small>{% if product.available %}QUICK ADD TO CART{% else %}OUT OF STOCK - NOTIFY ME{% endif %}</small></a>
      <div class="successfully_ATC"></div>
      <div class="pro-card-notify_me hidden">OUT OF STOCK<span class="pro-card-notify_me-btn">NOTIFY ME</span></div>
    </div>
  </div>
  <div class="accordion__list">
    {%- for i in (1..5) -%}
      {% assign key = 'accordion_' | append: forloop.index | append: '_title' %}
      {% assign title = product.metafields.custom[key].value %}
      {% assign content_key = 'accordion_' | append: forloop.index | append: '_content' %}
      {% assign content_accordion = product.metafields.custom[content_key] %}
      {%- if title != blank and content_accordion != blank -%}
        {% if title != blank %}
          <details class="accordion">
            <summary class="accordion__head">
              <h5>{{ title | replace: "Garment", "Product" }}</h5>
            </summary>
            <div class="accordion__body">
              <div class="accordion__body__inner">
                {{ content_accordion | metafield_tag }}
                {% if i == 3 -%}
                  {%- capture rankData -%}
                  {%- for n in (1..4) -%}
                    {%- assign labelKey = 'label_' | append: forloop.index -%}
                    {%- assign labelKeyVal = 'label_' | append: forloop.index | append: '_rank' -%}
                    {%- assign labelVal = product.metafields.custom[labelKey].value -%}
                    {%- assign labelRankVal = product.metafields.custom[labelKeyVal].value | plus: 0 -%}
                    {%- if labelVal != blank and labelRankVal != blank -%}
                    <div class="accordion__body-label-item">
                      <span class="rank-label">{{ labelVal }}</span>
                      {%- render 'icon-rank', rank: labelRankVal -%}
                    </div>
                    {%- endif -%}
                  {%- endfor -%}
                  {%- endcapture -%}
                  {%- if rankData != blank -%}<div class="accordion__body-label-list">{{ rankData }}</div>{%- endif -%}
                {% endif %}
              </div>
            </div>
          </details>
        {% endif %}
      {%- endif -%}
    {%- endfor -%}
    {% if settings.sr_head != blank and settings.sr_content != blank %}
    <details class="accordion" data-init="true">
      <summary class="accordion__head">
        <h5 class="medium">{{ settings.sr_head }}</h5>
      </summary>
      <div class="accordion__body">
        <div class="accordion__body__inner">{{ settings.sr_content }}</div>
      </div>
    </details>
    {% endif %}
  </div>
</div>