{% doc %}
  @prompt
    Create a customizable title section with up to 3 rows of text. Each row needs independent controls for: padding (top, bottom, left, right), spacing between rows, font family, font weight, letter spacing, text transform/case, and text alignment. Include separate desktop and mobile layout sections with identical customization options for both. Organize settings with content inputs separate from typography controls for each row., I need to be able to increase the padding A LOT more, the text needs to be right aligned and in line with the below terms accordion text, so the padding needs to be significant. It might be easier to centre the text, box. Maximum width of 1000px or something (on desktop) but then allow the text to be left / right aligned, Currently all the font is in CAPS, will need the ability to adjust this as well as the letter spacing, font size, weight etc... so if the content boxes can just be text entry boxes and the typography section dictates how that content appears stylisation wise, The row typography section letter spacing doesn't seem to be doing anything. Also need to be able to chose the weight of the typography in each row
{% enddoc %}
{% assign ai_gen_id = block.id | replace: '_', '' | downcase %}

{% style %}
  .ai-title-section-{{ ai_gen_id }} {
    width: 100%;
    display: block;
  }

  .ai-title-section__container-{{ ai_gen_id }} {
    width: 100%;
    max-width: {{ block.settings.max_width }}px;
    margin: 0 auto;
  }

  .ai-title-section__row-{{ ai_gen_id }} {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 750px) {
    .ai-title-section__row-{{ ai_gen_id }}--1 {
      padding-top: {{ block.settings.row_1_padding_top }}px;
      padding-bottom: {{ block.settings.row_1_padding_bottom }}px;
      padding-left: {{ block.settings.row_1_padding_left }}px;
      padding-right: {{ block.settings.row_1_padding_right }}px;
      margin-bottom: {{ block.settings.row_1_spacing }}px;
      font-family: {{ block.settings.row_1_font.family }}, {{ block.settings.row_1_font.fallback_families }};
      font-weight: {{ block.settings.row_1_font_weight }};
      font-style: {{ block.settings.row_1_font.style }};
      font-size: {{ block.settings.row_1_font_size }}px;
      letter-spacing: {{ block.settings.row_1_letter_spacing }}px;
      text-transform: {{ block.settings.row_1_text_transform }};
      text-align: {{ block.settings.row_1_text_align }};
      color: {{ block.settings.row_1_color }};
    }

    .ai-title-section__row-{{ ai_gen_id }}--2 {
      padding-top: {{ block.settings.row_2_padding_top }}px;
      padding-bottom: {{ block.settings.row_2_padding_bottom }}px;
      padding-left: {{ block.settings.row_2_padding_left }}px;
      padding-right: {{ block.settings.row_2_padding_right }}px;
      margin-bottom: {{ block.settings.row_2_spacing }}px;
      font-family: {{ block.settings.row_2_font.family }}, {{ block.settings.row_2_font.fallback_families }};
      font-weight: {{ block.settings.row_2_font_weight }};
      font-style: {{ block.settings.row_2_font.style }};
      font-size: {{ block.settings.row_2_font_size }}px;
      letter-spacing: {{ block.settings.row_2_letter_spacing }}px;
      text-transform: {{ block.settings.row_2_text_transform }};
      text-align: {{ block.settings.row_2_text_align }};
      color: {{ block.settings.row_2_color }};
    }

    .ai-title-section__row-{{ ai_gen_id }}--3 {
      padding-top: {{ block.settings.row_3_padding_top }}px;
      padding-bottom: {{ block.settings.row_3_padding_bottom }}px;
      padding-left: {{ block.settings.row_3_padding_left }}px;
      padding-right: {{ block.settings.row_3_padding_right }}px;
      margin-bottom: {{ block.settings.row_3_spacing }}px;
      font-family: {{ block.settings.row_3_font.family }}, {{ block.settings.row_3_font.fallback_families }};
      font-weight: {{ block.settings.row_3_font_weight }};
      font-style: {{ block.settings.row_3_font.style }};
      font-size: {{ block.settings.row_3_font_size }}px;
      letter-spacing: {{ block.settings.row_3_letter_spacing }}px;
      text-transform: {{ block.settings.row_3_text_transform }};
      text-align: {{ block.settings.row_3_text_align }};
      color: {{ block.settings.row_3_color }};
    }
  }

  @media screen and (max-width: 749px) {
    .ai-title-section__row-{{ ai_gen_id }}--1 {
      padding-top: {{ block.settings.row_1_mobile_padding_top }}px;
      padding-bottom: {{ block.settings.row_1_mobile_padding_bottom }}px;
      padding-left: {{ block.settings.row_1_mobile_padding_left }}px;
      padding-right: {{ block.settings.row_1_mobile_padding_right }}px;
      margin-bottom: {{ block.settings.row_1_mobile_spacing }}px;
      font-family: {{ block.settings.row_1_mobile_font.family }}, {{ block.settings.row_1_mobile_font.fallback_families }};
      font-weight: {{ block.settings.row_1_mobile_font_weight }};
      font-style: {{ block.settings.row_1_mobile_font.style }};
      font-size: {{ block.settings.row_1_mobile_font_size }}px;
      letter-spacing: {{ block.settings.row_1_mobile_letter_spacing }}px;
      text-transform: {{ block.settings.row_1_mobile_text_transform }};
      text-align: {{ block.settings.row_1_mobile_text_align }};
      color: {{ block.settings.row_1_mobile_color }};
    }

    .ai-title-section__row-{{ ai_gen_id }}--2 {
      padding-top: {{ block.settings.row_2_mobile_padding_top }}px;
      padding-bottom: {{ block.settings.row_2_mobile_padding_bottom }}px;
      padding-left: {{ block.settings.row_2_mobile_padding_left }}px;
      padding-right: {{ block.settings.row_2_mobile_padding_right }}px;
      margin-bottom: {{ block.settings.row_2_mobile_spacing }}px;
      font-family: {{ block.settings.row_2_mobile_font.family }}, {{ block.settings.row_2_mobile_font.fallback_families }};
      font-weight: {{ block.settings.row_2_mobile_font_weight }};
      font-style: {{ block.settings.row_2_mobile_font.style }};
      font-size: {{ block.settings.row_2_mobile_font_size }}px;
      letter-spacing: {{ block.settings.row_2_mobile_letter_spacing }}px;
      text-transform: {{ block.settings.row_2_mobile_text_transform }};
      text-align: {{ block.settings.row_2_mobile_text_align }};
      color: {{ block.settings.row_2_mobile_color }};
    }

    .ai-title-section__row-{{ ai_gen_id }}--3 {
      padding-top: {{ block.settings.row_3_mobile_padding_top }}px;
      padding-bottom: {{ block.settings.row_3_mobile_padding_bottom }}px;
      padding-left: {{ block.settings.row_3_mobile_padding_left }}px;
      padding-right: {{ block.settings.row_3_mobile_padding_right }}px;
      margin-bottom: {{ block.settings.row_3_mobile_spacing }}px;
      font-family: {{ block.settings.row_3_mobile_font.family }}, {{ block.settings.row_3_mobile_font.fallback_families }};
      font-weight: {{ block.settings.row_3_mobile_font_weight }};
      font-style: {{ block.settings.row_3_mobile_font.style }};
      font-size: {{ block.settings.row_3_mobile_font_size }}px;
      letter-spacing: {{ block.settings.row_3_mobile_letter_spacing }}px;
      text-transform: {{ block.settings.row_3_mobile_text_transform }};
      text-align: {{ block.settings.row_3_mobile_text_align }};
      color: {{ block.settings.row_3_mobile_color }};
    }
  }
{% endstyle %}

<title-section-{{ ai_gen_id }} class="ai-title-section-{{ ai_gen_id }}" {{ block.shopify_attributes }}>
  <div class="ai-title-section__container-{{ ai_gen_id }}">
    {% if block.settings.row_1_text != blank %}
      <div class="ai-title-section__row-{{ ai_gen_id }} ai-title-section__row-{{ ai_gen_id }}--1">
        {{ block.settings.row_1_text }}
      </div>
    {% endif %}

    {% if block.settings.row_2_text != blank %}
      <div class="ai-title-section__row-{{ ai_gen_id }} ai-title-section__row-{{ ai_gen_id }}--2">
        {{ block.settings.row_2_text }}
      </div>
    {% endif %}

    {% if block.settings.row_3_text != blank %}
      <div class="ai-title-section__row-{{ ai_gen_id }} ai-title-section__row-{{ ai_gen_id }}--3">
        {{ block.settings.row_3_text }}
      </div>
    {% endif %}
  </div>
</title-section-{{ ai_gen_id }}>

<script>
  (function() {
    class TitleSection{{ ai_gen_id }} extends HTMLElement {
      constructor() {
        super();
      }
    }
    customElements.define('title-section-{{ ai_gen_id }}', TitleSection{{ ai_gen_id }});
  })();
</script>

{% schema %}
{
  "name": "Customizable title",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "row_1_text",
      "label": "Row 1 text",
      "default": "First row of text"
    },
    {
      "type": "text",
      "id": "row_2_text",
      "label": "Row 2 text",
      "default": "Second row of text"
    },
    {
      "type": "text",
      "id": "row_3_text",
      "label": "Row 3 text",
      "default": "Third row of text"
    },
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 400,
      "max": 1600,
      "step": 50,
      "unit": "px",
      "label": "Maximum width",
      "default": 1000
    },
    {
      "type": "header",
      "content": "Row 1 desktop typography"
    },
    {
      "type": "font_picker",
      "id": "row_1_font",
      "label": "Font",
      "default": "helvetica_n3"
    },
    {
      "type": "range",
      "id": "row_1_font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 32
    },
    {
      "type": "select",
      "id": "row_1_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Normal (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": "400"
    },
    {
      "type": "range",
      "id": "row_1_letter_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_1_text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "row_1_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "row_1_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Row 1 desktop spacing"
    },
    {
      "type": "range",
      "id": "row_1_padding_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_padding_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_padding_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_padding_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_spacing",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Spacing below",
      "default": 10
    },
    {
      "type": "header",
      "content": "Row 2 desktop typography"
    },
    {
      "type": "font_picker",
      "id": "row_2_font",
      "label": "Font",
      "default": "helvetica_n3"
    },
    {
      "type": "range",
      "id": "row_2_font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 24
    },
    {
      "type": "select",
      "id": "row_2_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Normal (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": "400"
    },
    {
      "type": "range",
      "id": "row_2_letter_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_2_text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "row_2_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "row_2_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Row 2 desktop spacing"
    },
    {
      "type": "range",
      "id": "row_2_padding_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_padding_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_padding_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_padding_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_spacing",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Spacing below",
      "default": 10
    },
    {
      "type": "header",
      "content": "Row 3 desktop typography"
    },
    {
      "type": "font_picker",
      "id": "row_3_font",
      "label": "Font",
      "default": "helvetica_n3"
    },
    {
      "type": "range",
      "id": "row_3_font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 18
    },
    {
      "type": "select",
      "id": "row_3_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Normal (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": "400"
    },
    {
      "type": "range",
      "id": "row_3_letter_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_3_text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "row_3_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "row_3_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Row 3 desktop spacing"
    },
    {
      "type": "range",
      "id": "row_3_padding_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_padding_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_padding_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_padding_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_spacing",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Spacing below",
      "default": 10
    },
    {
      "type": "header",
      "content": "Row 1 mobile typography"
    },
    {
      "type": "font_picker",
      "id": "row_1_mobile_font",
      "label": "Font",
      "default": "helvetica_n3"
    },
    {
      "type": "range",
      "id": "row_1_mobile_font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 24
    },
    {
      "type": "select",
      "id": "row_1_mobile_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Normal (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": "400"
    },
    {
      "type": "range",
      "id": "row_1_mobile_letter_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_1_mobile_text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "row_1_mobile_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "row_1_mobile_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Row 1 mobile spacing"
    },
    {
      "type": "range",
      "id": "row_1_mobile_padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_mobile_padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_mobile_padding_left",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_mobile_padding_right",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_1_mobile_spacing",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Spacing below",
      "default": 10
    },
    {
      "type": "header",
      "content": "Row 2 mobile typography"
    },
    {
      "type": "font_picker",
      "id": "row_2_mobile_font",
      "label": "Font",
      "default": "helvetica_n3"
    },
    {
      "type": "range",
      "id": "row_2_mobile_font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 18
    },
    {
      "type": "select",
      "id": "row_2_mobile_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Normal (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": "400"
    },
    {
      "type": "range",
      "id": "row_2_mobile_letter_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_2_mobile_text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "row_2_mobile_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "row_2_mobile_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Row 2 mobile spacing"
    },
    {
      "type": "range",
      "id": "row_2_mobile_padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_mobile_padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_mobile_padding_left",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_mobile_padding_right",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_2_mobile_spacing",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Spacing below",
      "default": 10
    },
    {
      "type": "header",
      "content": "Row 3 mobile typography"
    },
    {
      "type": "font_picker",
      "id": "row_3_mobile_font",
      "label": "Font",
      "default": "helvetica_n3"
    },
    {
      "type": "range",
      "id": "row_3_mobile_font_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "select",
      "id": "row_3_mobile_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin (100)"
        },
        {
          "value": "200",
          "label": "Extra light (200)"
        },
        {
          "value": "300",
          "label": "Light (300)"
        },
        {
          "value": "400",
          "label": "Normal (400)"
        },
        {
          "value": "500",
          "label": "Medium (500)"
        },
        {
          "value": "600",
          "label": "Semi bold (600)"
        },
        {
          "value": "700",
          "label": "Bold (700)"
        },
        {
          "value": "800",
          "label": "Extra bold (800)"
        },
        {
          "value": "900",
          "label": "Black (900)"
        }
      ],
      "default": "400"
    },
    {
      "type": "range",
      "id": "row_3_mobile_letter_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_3_mobile_text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "row_3_mobile_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "row_3_mobile_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Row 3 mobile spacing"
    },
    {
      "type": "range",
      "id": "row_3_mobile_padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_mobile_padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_mobile_padding_left",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_mobile_padding_right",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_3_mobile_spacing",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Spacing below",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Customizable title"
    }
  ]
}
{% endschema %}
