{%- assign show_section = false -%}

{%- if section.settings.show_logged_in_section == 'both' -%}
  {%- assign show_section = true -%}
{%- elsif section.settings.show_logged_in_section == 'logged_in' and customer -%}
  {%- assign show_section = true -%}
{%- elsif section.settings.show_logged_in_section == 'logged_out' and customer == null -%}
  {%- assign show_section = true -%}
{%- endif -%}

{%- if show_section -%}
  {%- assign customer_gender = customer.metafields.custom.gender | default: '' | downcase -%}

  {%- if section.settings.show_for_gender == 'female' and customer_gender != 'female' -%}
    {%- assign show_section = false -%}
  {%- elsif section.settings.show_for_gender == 'all' and customer_gender == 'female' and template.name == 'index' -%}
    {%- assign show_section = false -%}
  {%- endif -%}
{%- endif -%}

{%- if show_section -%}
  <section class="featured-fullscreen row">
    <!-- Add featured-fullscreen__bg--no-mobile-img class modifier if no mobile image added (to use desktop one)-->
    <div class="featured-fullscreen__bg featured-fullscreen__bg--no-mobile-img" style="opacity: 1; clip-path: inset(0%); overflow: hidden;">
       <img class="featured-fullscreen__bg__desktop" src="{{ section.settings.banner_image | img_url: 'master' }}" alt="{{ section.settings.banner_image.alt }}" width="{{ section.settings.banner_image.width }}" height="{{ section.settings.banner_image.height }}" data-p-speed="0.15" >
       <!--<img class="featured-fullscreen__bg__mobile" src="https://marame.vercel.app/assets/featured-fullscreen.jpg" alt="" /> -->
    </div>
    <div class="featured-fullscreen__lottie">
        {% render 'icon-m-character' %}
    </div>
    <div class="featured-fullscreen__content col--6 col--md--4 col--lg--3" style="opacity: 1;">
        <h2 class="h1 featured-collection-title">{{ section.settings.title }}</h2>
        {%- if section.settings.btn_label != blank -%}
          <a href="{{ section.settings.btn_link }}" class="btn btn--dark">
            <p>{{ section.settings.btn_label }}</p>
            {% render 'icon-arrow-north' %}
          </a>
        {%- endif -%}
    </div>
  </section>
{%- endif -%}

{% schema %}
  {
    "name": "Featured fullscreen",
    "settings": [
      {
        "type": "radio",
        "id": "show_logged_in_section",
        "label": "Show Section For",
        "options": [
          {
            "value": "both",
            "label": "Both"
          },
          {
            "value": "logged_in",
            "label": "Logged-in Customers Only"
          },
          {
            "value": "logged_out",
            "label": "Logged-out Customers Only"
          }
        ],
        "default": "both"
      },
      {
        "type": "radio",
        "id": "show_for_gender",
        "label": "Show Section For",
        "options": [
          {
            "value": "all",
            "label": "Default"
          },
          {
            "value": "female",
            "label": "Female Customers Only"
          }
        ],
        "default": "all"
      },
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Men’s autumn lookbook ‘24"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Button label",
        "default": "View the lookbook"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content color",
        "default": "#fff"
      }
    ],
    "presets": [
      {
        "name": "Featured fullscreen"
      }
    ]
  }
{% endschema %}