{% if section.settings.image != blank %}
  <div class="pincode__bg">
    <img
      class="pincode__bg__desktop"
      src="{{ section.settings.image | img_url: 'master' }}"
      alt="{{ section.settings.image.alt }}"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}"
      data-p-speed="0.15"
    >
  </div>
{% endif %}
<div class="col--0 col--md--4 col--lg--7"></div>
<div class="pincode__content col--6 col--md--4 col--lg--5">
  {% if section.settings.content_1 != blank or section.settings.content_2 != blank %}
    <div class="pincode__content__pre-launch">
      {% if section.settings.content_1 != blank %}
        <h5>{{ section.settings.content_1 }}</h5>
      {% endif %}
      {% if section.settings.content_2 != blank %}
        <h5>{{ section.settings.content_2 }}</h5>
      {% endif %}
    </div>
  {% endif %}
  
  <div class="pincode__content__pin">
    <h5>ENTER CODE</h5>
    <div class="pincode__content__pin__container password_digit">
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*">
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*">
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*">
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*">
    </div>
    <button class="btn btn--dark" disabled>ENTER</button>
  </div>
  
  <div style="display: none !important">
    {%- form 'storefront_password', class: 'password-form' -%}
      <input
        type="password"
        name="password"
        id="Password"
        class="field__input"
        autocomplete="current-password"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="PasswordLoginForm-password-error"
        {%- endif -%}
      >
      <button name="commit" class="password-button button button--outline">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {%- endform -%}
  </div>

  {% if section.settings.content_3 != blank or section.settings.content_4 != blank %}
    <div class="pincode__content__launch">
      {% if section.settings.content_3 != blank %}
        <h5>{{ section.settings.content_3 }}</h5>
      {% endif %}
      {% if section.settings.content_4 != blank %}
        <h5>{{ section.settings.content_4 }}</h5>
      {% endif %}
    </div>
  {% endif %}

  {% if settings.social_instagram_link != blank or settings.social_tiktok_link != blank %}
    <div class="pincode__content__socials">
      {% if settings.social_instagram_link != blank %}
        <a href="{{ settings.social_instagram_link }}">Instagram</a>
      {% endif %}
      {% if settings.social_tiktok_link != blank %}
        <a href="{{ settings.social_tiktok_link }}">Tiktok</a>
      {% endif %}
    </div>
  {% endif %}
</div>

<script>
  if(document.querySelector(".password .password_digit input")){
    document.querySelectorAll(".password .password_digit input").forEach(function (pass_input) {
      pass_input.addEventListener("input", function (event){
        setTimeout(function(){
        var not_disabled_button = document.querySelector(".password .pincode__content__pin button:not([disabled])");
          if(not_disabled_button){
            not_disabled_button.focus();
          }
        }, 500);
      });
    });
  }
  
  document.querySelector("section.password .pincode__content__pin button").addEventListener("click",function(event){
    event.preventDefault();
    var password = "";
    
    this.closest(".pincode__content__pin").querySelectorAll("input").forEach(function(single_vlaue, index){
      password = password + single_vlaue.value;
    });
    
    this.closest("section.password").querySelector("#login_form input[type='password']").value = password;
    this.closest("section.password").querySelector("#login_form").submit();
  });
</script>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "section password pincode row",
  "enabled_on": {
    "templates": ["password"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Top content"
    },
    {
      "type": "liquid",
      "id": "content_1",
      "label": "Content 1"
    },
    {
      "type": "liquid",
      "id": "content_2",
      "label": "Content 2"
    },
    {
      "type": "header",
      "content": "Bottom content"
    },
    {
      "type": "liquid",
      "id": "content_3",
      "label": "Content 1"
    },
    {
      "type": "liquid",
      "id": "content_4",
      "label": "Content 2"
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
