{{ 'size-guide.css' | asset_url | stylesheet_tag }}
{{ 'size-chart-popup.css' | asset_url | stylesheet_tag }}
{% comment %} <script src="{{ 'size-guide-finder-engine-v3.js' | asset_url }}" defer></script>
<script src="{{ 'size-guide-finder.js' | asset_url }}" defer></script>
<script src="{{ 'size-guide.js' | asset_url }}" defer></script> {% endcomment %}

{% assign dd_template_name = product.template_suffix | split: '-' | first %}

{%- assign product_form_id = 'product-form-' | append: section.id -%}
{% assign preorder_enabled_raw = product.selected_or_first_available_variant.metafields.custom.preorder_enabled.value | default: product.selected_or_first_available_variant.metafields.custom.preorder_enabled %}

{% assign preorder_enabled = false %}

{% if preorder_enabled_raw == true or preorder_enabled_raw == 'true' or preorder_enabled_raw == 'True' %}
  {% assign preorder_enabled = true %}
{% endif %}
<script src="{{ "product-form.js" | asset_url }}" defer></script>

{% capture swiper-button-prev %}
    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="19" viewBox="0 0 9 19" fill="none">
      <path d="M8.409 1 .999 9.335l7.41 8.335" stroke="#8E8E8E" stroke-width="1.389"/>
    </svg>
{% endcapture %}

{% capture swiper-button-next %}
  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" viewBox="0 0 10 19" fill="none">
    <path d="m1.12 17.939 7.408-8.336L1.12 1.268" stroke="#8E8E8E" stroke-width="1.389"/>
  </svg>
{% endcapture %}

{% assign show_model_selector_raw = product.metafields.custom.show_model_selector.value | default: product.metafields.custom.show_model_selector %}

{% assign show_model_selector = false %}

{% if show_model_selector_raw == true or show_model_selector_raw == 'true' or show_model_selector_raw == 'True' %}
  {% assign show_model_selector = true %}
{% endif %}

<section
  id="shopify-section-{{ section.id }}"
  class="detail pdp-hero-section {% if dd_template_name == 'dd_swatch' %} product-fragrances-div default_product_template {% endif %}{% if product.template_suffix == 'variant-selector' %} default_product_template {% endif %} {% if template == 'product' and product.gift_card? == false %} default_product_template {% endif %}{% if product.template_suffix == 'fragrances' %} product-fragrances-div default_product_template{% endif %}{% if product.gift_card? %} details-gift-card default_product_template{% endif %}"
>
  <div class="detail__breadcrumb ">
    <a href="{{ product.collections[0].url }}">
      <h6>{{ product.collections[0].title }}</h6>
    </a>
    <h6>/</h6>
    <a href="{{ product.url }}">
      <h6>{{ product.title }}</h6>
    </a>
  </div>

  <div class="row">
    {% render 'product-media-slider', product: product , swiper-button-prev:swiper-button-prev , swiper-button-next: swiper-button-next %}

    {% assign color_active = false %}
    {% assign option_color = 'color' %}

    {%- unless product.has_only_default_variant -%}
      {%- for option in product.options_with_values -%}
        {% assign option_name = option.name | downcase %}

        {% if option_name == option_color %}
          {%- for value in option.values -%}
            {% assign color_active = true %}
            {% assign color_name = value %}
            {% if forloop.first %}
              {% break %}
            {% endif %}
          {%- endfor -%}
        {% endif %}
      {%- endfor -%}
    {%- endunless -%}

    <div class="detail__sidebar col--6 col--md--4 col--lg--6">
      <div class="detail__sidebar__content  dddd" data-handle="{{ product.handle }}">
        <div class="detail__sidebar__intro {% if dd_template_name == 'dd_swatch' %} product_default {% endif %} {% if template == 'product' and product.gift_card? == false %} product_default {% endif %} {% if product.template_suffix == 'variant-selector' %} product_default {% endif %}">
          <h1 class="h4">{{ product.title }}</h1>
          <h3 class="vari_price">{{ product.selected_or_first_available_variant.title }}</h3>

          {% if template contains 'fragrances' %}
            <div class="detail__sidebar__colors__price">
              {% if product.selected_or_first_available_variant.compare_at_price != 0 %}
                <h5 class="h4 compare_at_price">
                  {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                </h5>
              {% endif %}
              <h4 class="vari_price">
                {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
              </h4>
            </div>
          {% endif %}

          {% if color_active %}
            <h2 class="p">IN {{ color_name }}</h2>
          {% endif %}
        </div>

        {% if template == 'product' and product.gift_card? == false %}
          <div class="detail__sidebar__intro">
            <div class="default-prodcut_page">
              <div class="pdp-title-wrap">
                <h2 class="h4">{{ product.title }}</h2>
                
                {% if color_active %}
                  <h2 class="p pdp-color-name-text desktop-hide">IN {{ color_name }}</h2>
                {% endif %}
              </div>
              <div class="pdp-title-price-row">
                <div class="detail__sidebar__colors__price">
                  {% if product.selected_or_first_available_variant.compare_at_price != 0 %}
                    <h5 class="h4 compare_at_price">
                      {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                    </h5>
                  {% endif %}
                  <h4 class="vari_price">
                    {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                  </h4>
                </div>
                {% render 'size-guide-trigger', product: product, section: section %}
              </div>
            </div>

            {% if color_active %}
              <h2 class="p pdp-color-name-text mobile-hide">IN {{ color_name }}</h2>
            {% endif %}
          </div>
        {% elsif product.template_suffix == 'variant-selector' or dd_template_name == 'dd_swatch' %}
          {% unless product.gift_card? %}
            <div class="detail__sidebar__intro">
              <div class="default-prodcut_page">
                <div class="pdp-title-wrap">
                  <h2 class="h4">{{ product.title }}</h2>
                  {% if color_active %}
                    <h2 class="p pdp-color-name-text desktop-hide">IN {{ color_name }}</h2>
                  {% endif %}
                </div>
                  <div class="pdp-title-price-row">
                    <div class="detail__sidebar__colors__price 121212">
                      {% if product.selected_or_first_available_variant.compare_at_price > 0 %}
                        <h5 class="h4 compare_at_price">
                          {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                        </h5>
                      {% endif %}
                      <h4 class="vari_price">
                        {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                      </h4>
                    </div>
                    {% render 'size-guide-trigger', product: product, section: section %}
                  </div>

                {% comment %} <div class="detail__sidebar__colors__price 121212">
                  {% if product.selected_or_first_available_variant.compare_at_price > 0 %}
                    <h5 class="h4 compare_at_price">
                      {{ product.selected_or_first_available_variant.compare_at_price | money_without_currency -}}
                      &nbsp;{{- shop.currency }}
                    </h5>
                  {% endif %}
                  <h4 class="vari_price">
                    {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros -}}
                    &nbsp;{{- shop.currency }}
                  </h4>
                </div> {% endcomment %}
              </div>

              <div class="detail-iWishAddColl-share">
                <button class="product-share-btn" onclick="shareProduct()">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.399902 8.79688V14.1426H16.6939V8.79688" stroke="#2A2A2C" stroke-width="0.8"/>
                    <path d="M8.37798 12.5352V0.400391L3.37256 5.74629" stroke="#2A2A2C" stroke-width="0.8" stroke-linejoin="round"/>
                    <path d="M8.37793 0.400391L13.3857 5.49219" stroke="#2A2A2C" stroke-width="0.8"/>
                  </svg>
                </button>
              </div>

              {% if color_active %}
                <h2 class="p pdp-color-name-text mobile-hide">IN {{ color_name }}</h2>
              {% endif %}
            </div>
          {% endunless %}
        {% endif %}

        <hr>
        {% if product.template_suffix == 'variant-selector' or dd_template_name == 'dd_swatch' %}
          {% unless product.has_only_default_variant %}
            {% comment %} {% render 'variant-picker', product: product, section_id: section.id %} {% endcomment %}
            {% render 'variant-picker-new', product: product, section_id: section.id %}
          {% endunless %}

          {% assign only_size_option = false %}
          
          {% for option in product.options %}
          {% assign option_name = option | downcase %}
          {% if option_name contains 'size' %}
          {% assign only_size_option = true %}
          {% break %}
          {% endif %}
          {% endfor %}

          <div class="custom_btns_atc{% if only_size_option %} hidden{% endif %}">
            <span class="oos_msg">We are sorry, this product is currently out of stock.</span>
            {% render 'product-atc-form', product: product, product_form_id: product_form_id %}
            {% comment %} <div class="buy_with_applepay">Buy now with</div> {% endcomment %}
          </div>

          <div class="free-exchange-bar">
            <div class="free-exchange-track">

              <div class="free-exchange-bar__inner">
                <div class="free-exchange-bar__icon">
                  {{ section.settings.free_exchange_svg }}
                </div>
                <div class="free-exchange-bar__text">
                  {{ section.settings.free_exchange_text }}
                </div>
              </div>

              <div class="free-exchange-bar__inner free_next_day">
                <div class="free-exchange-bar__icon">
                  {{ section.settings.free_next_day_svg }}
                </div>
                <div class="free-exchange-bar__text">
                  {{ section.settings.shipping_text }}
                </div>
              </div>

              <div class="free-exchange-bar__inner elarna_finance">
                <div class="free-exchange-bar__icon">
                  {{ section.settings.elarna_finance_svg }}
                </div>
                <div class="free-exchange-bar__text klarna-message">
                  {{ section.settings.elarna_finance_text }}
                </div>
              </div>
              
              <div class="free-exchange-bar__inner clearpay_finance">
                <div class="free-exchange-bar__icon">
                </div>
                <div class="free-exchange-bar__text klarna-message clearpay-message">
                </div>
              </div>
              
              <div class="free-exchange-bar__inner trustpilot">
                <div class="free-exchange-bar__icon">
                </div>
                <div class="custom-trustpilot-widget">
                  <a href="https://www.trustpilot.com/review/marame.com" target="_blank">
                    Rated 5 stars on 
                    <img src="https://cdn.shopify.com/s/files/1/0934/8877/5503/files/2b5e61bdeb21049855ef9b87ca60e716de9761b7.png?v=1773225122">
                  </a>
                </div>
              </div>
              <script>
                window.currentVariantPrice = {{ product.selected_or_first_available_variant.price }};
              </script>
            </div>
          </div>

          <div class="accordion_with_atc_buttons ddddd">
            {% if section.settings.shipping_text != blank %}
              <div class="pro_shipping-payment_text">
                <div class="pro-shipping_text">{{ section.settings.shipping_text }}</div>
                <div class="pro-payments_wrapper">
                  <div class="pro-payments_item pro-payments_klarna">
                     3 payments of £{{ product.price | divided_by: 3 | round | divided_by: 100.0 }} at 0% interest with 
                    <span>{% render 'icon-klarna' %}</span>
                  </div>
                  <div class="pro-payments_item pro-payments_clearpay">
                    or 4 payments of £{{ product.price | divided_by: 4 | round | divided_by: 100.0 }} with
                    <span>{% render 'icon-clearpay' %}</span>
                  </div>
                </div>
              </div>
            {% endif %}
            {% render 'new-product-tabs' %}
            {% comment %} {% render 'product-tabs' %} {% endcomment %}

            {% if section.settings.show_video %}
              {% assign video_file = product.selected_or_first_available_variant.metafields.custom.product_video %}
              {% if video_file != blank %}
                <div class="custom-variant-video desktop-hide" data-custom-video>
                  <video 
                    playsinline 
                    preload="metadata"
                    style="width:100%; height:auto;"
                  >
                    <source src="{{ video_file | file_url }}" type="video/mp4">
                  </video>
                  <button class="video-play-button" aria-label="Play video">
                    <svg width="94" height="107" viewBox="0 0 94 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <foreignObject x="-6.6" y="-6.6" width="106.458" height="119.35"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(3.3px);clip-path:url(#bgblur_0_2671_2845_clip_path);height:100%;width:100%"></div></foreignObject><path data-figma-bg-blur-radius="6.6" d="M90.7578 48.7459C94.0911 50.6704 94.0911 55.4817 90.7578 57.4062L7.50218 105.474C4.16885 107.398 0.00217687 104.993 0.00217704 101.144L0.00218124 5.00836C0.00218141 1.15936 4.16885 -1.24627 7.50218 0.67823L90.7578 48.7459Z" fill="white" fill-opacity="0.54"/>
                      <defs>
                      <clipPath id="bgblur_0_2671_2845_clip_path" transform="translate(6.6 6.6)"><path d="M90.7578 48.7459C94.0911 50.6704 94.0911 55.4817 90.7578 57.4062L7.50218 105.474C4.16885 107.398 0.00217687 104.993 0.00217704 101.144L0.00218124 5.00836C0.00218141 1.15936 4.16885 -1.24627 7.50218 0.67823L90.7578 48.7459Z"/>
                      </clipPath></defs>
                    </svg>
                  </button>
                  {% if section.settings.media_text != blank %}
                    <span class="media_text">{{ section.settings.media_text }}</span>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}

          </div>
        {% else %}
          <div class="meta_product_inner">
            {% if product.metafields.custom.similar_products != blank %}
              <div class="meta-color-head">{{ product.options[0] | replace: 'Color', 'Colours' }}</div>
            {% endif %}
            {% if product.metafields.custom.similar_products != blank %}
              <div class="meta-color-value">{{ product.options_with_values[0].selected_value }}</div>
            {% endif %}
            <div class="meta-color-select">
              <div class="meta-color-select__options">
                {%- unless product.has_only_default_variant -%}
                  {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}
                  {%- assign color_swatch_style = '' -%}

                  {%- for option in product.options_with_values -%}
                    {% assign option_name = option.name | downcase %}

                    {% if option_name == option_color %}
                      {%- for value in option.values -%}
                        {% assign color_swatch_style = null %}
                        {%- assign swatch = value.swatch -%}
                        {%- assign color_value_downcase = value | downcase -%}
                        {%- assign color_swatch_style = 'background-color: ' | append: swatch.color | append: ';' -%}
                        {%- for color_swatch_item in color_swatch_config -%}
                          {%- assign color_swatch_parts = color_swatch_item | split: ':' -%}
                          {%- assign color_swatch_name = color_swatch_parts.first | downcase | strip -%}
                          {%- if color_value_downcase == color_swatch_name -%}
                            {%- assign color_swatch_value = color_swatch_parts.last | strip -%}
                            {%- if color_swatch_value contains '#' -%}
                              {%- assign color_swatch_style = 'background-color: '
                                | append: color_swatch_value
                                | append: ';'
                              -%}
                            {%- elsif swatch.color != blank -%}
                              {%- assign color_swatch_style = 'background-color: '
                                | append: swatch.color
                                | append: ')'
                              -%}
                            {%- elsif images[color_swatch_value] != blank -%}
                              {%- assign color_swatch_image = images[color_swatch_value] | img_url: '72x72' -%}
                              {%- assign color_swatch_style = 'background-image: url('
                                | append: color_swatch_image
                                | append: ')'
                                | append: ';'
                              -%}
                            {%- endif -%}
                          {%- endif -%}
                        {%- endfor -%}
                        {% assign color_active = true %}
                        {% assign color_swatch_style = color_swatch_style %}
                        {% if forloop.first %}
                          {% break %}
                        {% endif %}
                      {%- endfor -%}
                    {% endif %}
                  {%- endfor -%}
                {% endunless %}
                {% if product.metafields.custom.swatches_image != blank %}
                  {% assign metafiled_image = product.metafields.custom.swatches_image | img_url: 'master' %}
                  {%- assign color_swatch_style = 'background-image: url('
                    | append: metafiled_image
                    | append: ')'
                    | append: ';'
                  -%}
                {% endif %}
                <div
                  class="single_product active"
                  data_handle="{{ product.url }}"
                  data-style="{% if color_active %}{{ color_swatch_style }}{% endif %}"
                >
                  {% if template contains 'fragrances' -%}
                    {{- product.selected_or_first_available_variant.options[0] }}
                  {% else %}
                    {% if product.metafields.custom.swatches_image.value != blank %}
                      <img
                        src="{{ product.metafields.custom.swatches_image.value | img_url:"100x" }}"
                        width=""
                        height=""
                      >
                    {% else %}
                      <img src="{{ product.featured_image | img_url:"100x" }}" width="" height="">
                    {% endif %}
                  {% endif %}
                </div>
                {% if product.metafields.custom.similar_products != blank %}
                  {% for meta_product in product.metafields.custom.similar_products.value %}
                    {% unless meta_product.handle == product.handle %}
                      {%- unless meta_product.has_only_default_variant -%}
                        {%- assign color_swatch_config = settings.color_swatch_config
                          | newline_to_br
                          | split: '<br />'
                        -%}
                        {%- assign color_swatch_style = '' -%}

                        {%- for option in meta_product.options_with_values -%}
                          {% assign option_name = option.name | downcase %}

                          {% if option_name == option_color %}
                            {%- for value in option.values -%}
                              {% assign color_swatch_style = null %}
                              {%- assign swatch = value.swatch -%}
                              {%- assign color_value_downcase = value | downcase -%}
                              {%- assign color_swatch_style = 'background-color: '
                                | append: swatch.color
                                | append: ';'
                              -%}
                              {%- for color_swatch_item in color_swatch_config -%}
                                {%- assign color_swatch_parts = color_swatch_item | split: ':' -%}
                                {%- assign color_swatch_name = color_swatch_parts.first | downcase | strip -%}
                                {%- if color_value_downcase == color_swatch_name -%}
                                  {%- assign color_swatch_value = color_swatch_parts.last | strip -%}
                                  {%- if color_swatch_value contains '#' -%}
                                    {%- assign color_swatch_style = 'background-color: '
                                      | append: color_swatch_value
                                      | append: ';'
                                    -%}
                                  {%- elsif swatch.color != blank -%}
                                    {%- assign color_swatch_style = 'background-color: '
                                      | append: swatch.color
                                      | append: ')'
                                    -%}
                                  {%- elsif images[color_swatch_value] != blank -%}
                                    {%- assign color_swatch_image = images[color_swatch_value] | img_url: '72x72' -%}
                                    {%- assign color_swatch_style = 'background-image: url('
                                      | append: color_swatch_image
                                      | append: ')'
                                      | append: ';'
                                    -%}
                                  {%- endif -%}
                                {%- endif -%}
                              {%- endfor -%}
                              {% assign color_active = true %}
                              {% assign color_swatch_style = color_swatch_style %}
                              {% if forloop.first %}
                                {% break %}
                              {% endif %}
                            {%- endfor -%}
                          {% endif %}
                        {%- endfor -%}
                      {%- endunless -%}
                      {% if meta_product.metafields.custom.swatches_image != blank %}
                        {% assign metafiled_image = meta_product.metafields.custom.swatches_image | img_url: 'master' %}
                        {%- assign color_swatch_style = 'background-image: url('
                          | append: metafiled_image
                          | append: ')'
                          | append: ';'
                        -%}
                      {% endif %}
                      <div
                        class="single_product"
                        data_handle="{{ meta_product.url }}"
                        data-style="{% if color_active %}{{ color_swatch_style }}{% endif %}"
                      >
                        {% if template contains 'fragrances' -%}
                          {{- meta_product.selected_or_first_available_variant.options[0] }}
                        {% else %}
                          {% if meta_product.metafields.custom.swatches_image.value != blank %}
                            <img
                              src="{{ meta_product.metafields.custom.swatches_image.value | img_url:"100x" }}"
                              width=""
                              height=""
                            >
                          {% else %}
                            <img src="{{ meta_product.featured_image | img_url:"100x" }}" width="" height="">
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endunless %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>

            <div class="detail__sidebar__colors__price {% if template == 'product' and product.gift_card? == false %} product_default{% endif %}">
              {% if product.selected_or_first_available_variant.compare_at_price != 0 %}
                <h5 class="h4 compare_at_price">
                  {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                </h5>
              {% endif %}
              <h4>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</h4>
            </div>
          </div>
          {% assign colors_names = 'color,colors,colour,colours' | split: ',' %}
          {% comment %}  {%- if product.available -%}{% endcomment %}
          {%- unless product.has_only_default_variant -%}
            {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}
            {% assign selected_variant = product.selected_or_first_available_variant %}

            {%- assign color_swatch_style = '' -%}

            {%- for option in product.options_with_values -%}
              {% assign option_size = 'size' %}
              {% assign option_name = option.name | downcase %}
              {% if option_name == 'shoe size' %}
                {% assign option_name = option_size %}
              {% endif %}

              {% assign option_color_length = 0 %}
              {% if option_name == option_color %}
                {% assign option_color_length = option.values.size %}
              {% endif %}
              {% unless colors_names contains option_name %}
                <div
                  class="{% if product.gift_card? %}detail__sidebar__sizes {% endif %}detail__sidebar__{{- option_name -}}s option_index{% if option_color_length == 1 and option_name == option_color %} hidden{% endif %}{% if template contains "fragrances" %} hidden{% endif %}"
                  data-option="option{{ forloop.index }}"
                >
                  <div
                    class="{{- option_name -}}-select"
                    {% if option_name == option_size %}
                      data-recommended="{{ option.values[2] }}"
                    {% endif %}
                  >
                    <select
                      class="{{- option_name -}}-select__select"
                      name="{{- option_name -}}"
                      aria-label="Select {{- option_name -}}"
                    >
                      {%- for value in option.values -%}
                        <option value="{{- value -}}">{{- value -}}</option>
                      {%- endfor -%}
                    </select>

                    {% comment %}
                      <div class="{{- option_name -}}-select__options">
                        {%- for value in option.values -%}
                          {% if option_name == option_color %}
                            {% assign color_swatch_style = null %}
                            {%- assign swatch = value.swatch -%}
                            {%- assign color_value_downcase = value | downcase -%}
                            {%- assign color_swatch_style = 'background-color: ' | append: swatch.color | append: ';' -%}
                            {%- for color_swatch_item in color_swatch_config -%}
                              {%- assign color_swatch_parts = color_swatch_item | split: ':' -%}
                              {%- assign color_swatch_name = color_swatch_parts.first | downcase | strip -%}
                              {%- if color_value_downcase == color_swatch_name -%}
                                {%- assign color_swatch_value = color_swatch_parts.last | strip -%}
                                {%- if color_swatch_value contains '#' -%}
                                  {%- assign color_swatch_style = 'background-color: '
                                    | append: color_swatch_value
                                    | append: ';'
                                  -%}
                                {%- elsif swatch.color != blank -%}
                                  {%- assign color_swatch_style = 'background-color: '
                                    | append: swatch.color
                                    | append: ')'
                                  -%}
                                {%- elsif images[color_swatch_value] != blank -%}
                                  {%- assign color_swatch_image = images[color_swatch_value] | img_url: '72x72' -%}
                                  {%- assign color_swatch_style = 'background-image: url('
                                    | append: color_swatch_image
                                    | append: ')'
                                    | append: ';'
                                  -%}
                                {%- endif -%}
                              {%- endif -%}
                            {%- endfor -%}
                          {% endif %}

                          <div
                            class="option{% unless value.variant.available %} option--out-of-stock{% endunless %}"
                            data-value="{{- value -}}"
                            {% if option_name == option_color %}
                              style="{{ color_swatch_style }}"
                            {% endif %}
                          >
                            {%- unless option_name == option_color -%}
                              <small>{{- value -}}</small>
                            {%- endunless -%}
                          </div>
                        {%- endfor -%}
                        {%- if option_name == option_size -%}<div class="successfully_ATC"></div>{%- endif -%}
                      </div>
                    {% endcomment %}

                    <div class="pro-custom-select" data-custom-select-option="{{ option_name }}" data-pro-custom-select>
                      <button class="pro-custom-select-button dd" data-pro-custom-select-btn>
                        {% comment %} <span class="s-text">Please select a size</span> {% endcomment %}
                         <span class="s-text"
                          ><span class="opt-value"
                            ><b>
                              {{- option.name }}
                              {{ option.selected_value -}}
                            </b>
                            {%- if selected_variant.inventory_quantity <= 5 and selected_variant.inventory_quantity > 0 %}
                              - only {{ selected_variant.inventory_quantity }} left
                            {%- endif -%}
                          </span>
                          {%- unless selected_variant.available -%}
                            <span class="opt-oos">
                              - out of stock
                              <a class="button klaviyo-bis-trigger" href="#" data-klaviyo-handle="{{ product.handle }}"
                                >notify me when available</a
                              ></span
                            >
                          {%- endunless -%}
                        </span>
                        <span class="s-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="13" viewBox="0 0 6 13" fill="none">
                            <path d="M0.177734 0.479492L4.79655 6.866L0.177734 12.7963" stroke="#939393" stroke-width="0.461881"/>
                          </svg>
                        </span>
                      </button>
                      <ul class="pro-custom-select-list lenis" data-pro-custom-select-list>
                        {% comment %} <li class="pro-custom-select-list-item disabled">Please select a size</li> {% endcomment %}
                        {%- for value in option.values -%}
                          <li
                            class="pro-custom-select-list-item c-option{%- unless value.available %} c-option--out-of-stock{% endunless %}"
                            data-value="{{- value -}}"
                            data-pro-custom-select-list-item
                          >
                            <span class="opt-value"
                              ><b>
                                {{- option.name }}
                                {{ value -}}
                              </b>
                              {%- if value.variant.inventory_quantity <= 5 and value.variant.inventory_quantity > 0 %}
                                - only {{ value.variant.inventory_quantity }} left
                              {%- endif -%}
                            </span>
                            {%- unless value.available -%}
                              <span class="opt-oos">
                                - out of stock
                                <a
                                  class="button klaviyo-bis-trigger"
                                  href="#"
                                  data-klaviyo-handle="{{ product.handle }}"
                                  >notify me when available</a
                                ></span
                              >
                            {%- endunless -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>

                    {% if product.gift_card? %}
                      <span class="select-value-alert hidden">SELECT VALUE</span>
                    {% endif %}
                    {%- if option_name == option_size -%}
                      <button class="btn btn--outline hidden"><small>RECOMMENDED SIZE</small></button>
                    {%- endif -%}
                  </div>
                  {%- if option_name == option_color -%}
                    <div class="detail__sidebar__colors__price hidden">
                      <h4>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</h4>
                    </div>
                  {%- endif -%}
                </div>
              {% endunless %}
            {%- endfor -%}
          {%- endunless -%}
          {% comment %}    {%- endif -%} {% endcomment %}

          {% form 'product',
            product,
            id: product_form_id,
            class: 'form shopify-product-form product_page_atc_form',
            data-handle: product.handle
          %}
            <select
              name="id"
              style="display:none !important"
              class="product_option_selection"
              id="products-{{ product.id }}"
            >
              {%- for variant in product.variants -%}
                <option
                  value="{{ variant.id }}"
                  {% comment %}{% if product.selected_or_first_available_variant.id == variant.id %} selected="selected"{% endif %}{% endcomment %}
                >
                  {{- variant.title -}}
                </option>
              {% endfor %}
            </select>
            <script type="application/json">
              {{ product | json }}
            </script>

            <input
              type="hidden"
              name="quantity"
              value="1"
            >

            <div class="accordion_with_atc_buttons">
              {%- assign haveSize = false -%}
              {% for opt in product.options %}
                {% assign optName = opt | downcase %}
                {% if optName == 'size' or optName == 'shoe size' %}
                  {% assign haveSize = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% if template contains 'fragrances' %}
                {%- assign haveSize = false -%}
              {% endif %}

              <div class="detail__sidebar__ctas{% if haveSize %} have-sizes{% endif %}">
                <div class="detail__sidebar__ctas-inner">
                  {% if haveSize %}
                    <a href="{{ product.url }}" class="btn btn--outline addtocart_form_submit-temp">Add to bag</a>
                  {% endif %}
                  <a
                    href="{{ product.url }}"
                    class="btn btn--dark addtocart_form_submit{% unless product.selected_or_first_available_variant.available %} disabled{% endunless %}"
                  >
                    {% if product.selected_or_first_available_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </a>
                </div>
                {% if product.available %}
                  {{ form | payment_button }}
                {% endif %}
                {% if product.metafields.custom.buy_the_look != blank %}
                  <a href="#buy_full_look" class="btn btn--dark scroll-to-section">Buy Full Look</a>
                {% endif %}
              </div>

              {% if section.settings.shipping_text != blank %}
                <div class="pro_shipping-payment_text">
                  <div class="pro-shipping_text">{{ section.settings.shipping_text }}</div>
                  <div class="pro-payments_wrapper">
                    <div class="pro-payments_item pro-payments_klarna">
                      3 payments of £{{ product.price | divided_by: 3 | round | divided_by: 100.0 }} at 0% interest with
                      <span>{% render 'icon-klarna' %}</span>
                    </div>
                    <div class="pro-payments_item pro-payments_clearpay">
                      or 4 payments of £{{ product.price | divided_by: 4 | round | divided_by: 100.0 }} with
                      <span>{% render 'icon-clearpay' %}</span>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% render 'product-tabs' %}
              {% comment %}
                <div class="accordion__list">
                  {% assign show_collapsible_content = true %}
                  {%- for i in (1..5) -%}
                    {% assign key = 'accordion_' | append: forloop.index | append: '_title' %}
                    {% assign title = product.metafields.custom[key].value %}
                    {% assign content_key = 'accordion_' | append: forloop.index | append: '_content' %}
                    {% assign content_accordion = product.metafields.custom[content_key] %}
                    {%- if title != blank and content_accordion != blank -%}
                      {% assign show_collapsible_content = false %}
                      <details class="accordion">
                        <summary class="accordion__head">
                          <h5>
                            {% if title != blank %}
                              {{ title | replace: "Garment", "Product" }}
                            {% endif %}
                          </h5>
                        </summary>

                        <div class="accordion__body">
                          <div class="accordion__body__inner">
                            {% if content_accordion != blank %}
                              {{ content_accordion | metafield_tag }}
                              {% if i == 3 -%}
                                {%- capture rankData -%}
                                {%- for n in (1..4) -%}
                                  {%- assign labelKey = 'label_' | append: forloop.index -%}
                                  {%- assign labelKeyVal = 'label_' | append: forloop.index | append: '_rank' -%}
                                  {%- assign labelVal = product.metafields.custom[labelKey].value -%}
                                  {%- assign labelRankVal = product.metafields.custom[labelKeyVal].value | plus: 0 -%}
                                  {%- if labelVal != blank and labelRankVal != blank -%}
                                  <div class="accordion__body-label-item">
                                    <span class="rank-label">{{ labelVal }}</span>
                                    {%- render 'icon-rank', rank: labelRankVal -%}
                                  </div>
                                  {%- endif -%}
                                {%- endfor -%}
                                {%- endcapture -%}
                                {%- if rankData != blank -%}<div class="accordion__body-label-list">{{ rankData }}</div>{%- endif -%}
                              {% endif %}
                            {% endif %}
                          </div>
                        </div>
                      </details>
                    {%- endif -%}
                  {%- endfor -%}
                  {% if settings.sr_head != blank and settings.sr_content != blank %}
                  <details class="accordion">
                    <summary class="accordion__head">
                      <h5 class="medium">{{ settings.sr_head }}</h5>
                    </summary>
                    <div class="accordion__body">
                      <div class="accordion__body__inner">{{ settings.sr_content }}</div>
                    </div>
                  </details>
                  {% endif %}
                <details class="accordion">
                  <summary class="accordion__head">
                    <h5 class="medium">Reviews</h5>
                  </summary>
                  <div class="accordion__body">
                    <div class="accordion__body__inner">
                      <div class="trustpilot_app_div">
                          <!-- TrustBox widget - Mini -->
                            <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="6863d52829d0eb9d7940e024" data-style-height="150px" data-style-width="100%">
                              <a href="https://uk.trustpilot.com/review/marame.com" target="_blank" rel="noopener">Trustpilot</a>
                            </div>
                      </div>
                    </div>
                  </div>
                </details>
                </div>
              {% endcomment %}
            </div>
            {% comment %} <a class="button klaviyo-bis-trigger" href="#" style="text-align: center; margin: 0px; width: auto; display: inline;" data-klaviyo-handle="{{ product.handle }}">OUT OF STOCK - NOTIFY ME</a> {% endcomment %}

            {% comment %}
              <div
                class="klaviyo-product-container"
                id="klaviyo-data-handle-{{ product.handle }}"
                data-klaviyo-handle="{{ product.handle }}"
              >
                <div class="klaviyo-button-container product-grid-btn">
                </div>
              </div>
            {% endcomment %}
          {% endform %}
        {% endif %}
        {% assign current_model_color = '' %}
        {% assign colors = 'color,colors,colour,colours,Color,Colors,Colour,Colours' | split: ',' %}

        {% for option in product.options_with_values %}
          {% if colors contains option.name %}
            {% assign current_model_color = option.selected_value | downcase | strip %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign current_model_color = blank %}

        {% for option in product.options_with_values %}
          {% if colors contains option.name %}
            {% assign current_model_color = option.selected_value | downcase | strip %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% assign default_fit_content = current_variant.metafields.custom.fit_and_fabric_accordion_3_content 
          | default: current_variant.metafields.custom.fit_and_fabric_accordion_3_contents 
          | default: product.metafields.custom.accordion_3_content 
        %}

        {% assign default_fit_text_full = default_fit_content | metafield_text | default: default_fit_content | strip_html | strip %}
        {% assign default_fit_text = default_fit_text_full %}

        {% if default_fit_text_full contains 'wearing a Size' %}
          {% assign default_fit_text_parts = default_fit_text_full | split: 'wearing a Size' %}
          {% assign before_wearing_size = default_fit_text_parts[0] | split: '.' %}
          {% assign last_sentence_start = before_wearing_size | last | strip %}
          {% assign size_part = default_fit_text_parts[1] | split: '.' | first | strip %}
          {% assign default_fit_text = last_sentence_start | append: ' wearing a Size ' | append: size_part | append: '.' %}
        {% endif %}

        {% assign default_model_size_raw = default_fit_text | split: 'Size' | last | remove: '.' | strip %}
        {% assign default_model_size = default_model_size_raw | split: ' ' | first | strip %}
        {% assign default_model_name = default_fit_text | split: ' is ' | first | strip %}

        {% assign has_default_model_info = false %}

        {% if default_fit_text contains ' is ' and default_fit_text contains 'Size' and default_model_size != blank and default_model_name != blank %}
          {% assign has_default_model_info = true %}
          {% assign default_model_title = default_model_name | append: ' is a UK Size ' | append: default_model_size %}
          {% assign default_model_label = 'Size ' | append: default_model_size %}
        {% endif %}

        {% if show_model_selector %}
          <div class="different-model-wrapper" data-model-switcher data-current-color="{{ current_model_color | escape }}">
            <p>{{ section.settings.different_model | default: 'VIEW ON A DIFFERENT MODEL' }}</p>

            <div class="different-model-list">
              {% assign default_color_keys = '' %}

              {% for media in product.media %}
                {% if media.media_type == 'image' %}
                  {% assign alt_parts = media.alt | split: '|' %}
                  {% assign first_part = alt_parts[0] | strip %}
                  {% assign second_part = alt_parts[1] | strip %}
                  {% assign option_value = '' %}
                  {% assign is_model_image = false %}

                  {% if media.alt contains '|' %}
                    {% if second_part contains 'Size' %}
                      {% assign option_value = first_part | downcase | strip %}
                      {% assign is_model_image = true %}
                    {% else %}
                      {% assign option_value = second_part | downcase | strip %}
                    {% endif %}
                  {% else %}
                    {% assign option_value = media.alt | downcase | strip %}
                  {% endif %}

                  {% assign default_color_key = 'default-model-' | append: option_value | handleize %}

                  {% unless is_model_image %}
                    {% unless default_color_keys contains default_color_key %}
                      {% assign default_color_keys = default_color_keys | append: default_color_key | append: ',' %}
                      {% if has_default_model_info %}
                        <button
                          type="button"
                          class="different-model-item default-model-item{% if option_value == current_model_color %} active{% endif %}"
                          data-model-trigger="{{ default_color_key }}"
                          data-model-title="{{ default_model_title | escape }}"
                          data-model-fit-text="{{ default_fit_text | escape }}"
                          data-model-color="{{ option_value | escape }}"
                          data-default-model="true"
                        >
                          <div class="different-model-image">
                            <img src="{{ media | img_url: '300x' }}" alt="{{ default_fit_text | escape }}">
                          </div>
                          <span>{{ default_model_label }}</span>
                        </button>
                      {% endif %}
                    {% endunless %}
                  {% endunless %}
                {% endif %}
              {% endfor %}

              {% assign model_keys = '' %}

              {% for media in product.media %}
                {% if media.media_type == 'image' and media.alt contains '|' and media.alt contains 'Size' %}
                  {% assign alt_parts = media.alt | split: '|' %}
                  {% assign option_value = alt_parts[0] | strip | downcase %}
                  {% assign model_title = alt_parts[1] | strip %}
                  {% assign model_fit_text = alt_parts[2] | strip %}
                  {% assign model_key = model_title | downcase | handleize %}
                  {% assign model_size_raw = model_title | split: 'Size' | last | strip %}
                  {% assign model_size = model_size_raw | split: ' ' | first | strip %}
                  {% assign model_label = 'Size ' | append: model_size %}

                  {% unless model_keys contains model_key %}
                    {% assign model_keys = model_keys | append: model_key | append: ',' %}

                    <button
                      type="button"
                      class="different-model-item"
                      data-model-trigger="{{ model_key }}"
                      data-model-title="{{ model_title | escape }}"
                      data-model-fit-text="{{ model_fit_text | escape }}"
                      data-model-color="{{ option_value | escape }}"
                    >
                      <div class="different-model-image">
                        <img src="{{ media | img_url: '300x' }}" alt="{{ model_title | escape }}">
                      </div>
                      <span>{{ model_label }}</span>
                    </button>
                  {% endunless %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% render 'size-guide-modal', product: product, section: section %}
    {% render 'size-chart-popup' %}
  {% if section.settings.show_custom_buy_the_look %}
    <div class="test_buy_the_look buy_the_look">
      {% render 'buy-the-look-separate-variant' %}
    </div>
  {% endif %}

    {% comment %} <div class="cart-checkbox pdp-new-popup" id="cart-checkbox-new">
    <input id="packing_info-cd"{% unless cart.note contains 'Parcel to be unscented' %}checked{% endunless %} type="checkbox">
    <label for="packing_info-cd" class="flexbox">
        <span class="custom-checkbox-svg">
            <svg width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M71.0951 81.4906L104.919 65.4689L57.7437 59.2382L57.7437 79.4945L71.0951 81.4906Z" fill="#D7D7D7"/>
                <path d="M17.5122 101.755L71.0951 109.602L71.0951 81.4906L57.7437 79.4945L17.5122 73.4798L17.5122 101.755Z" fill="white"/>
                <path d="M57.7437 59.2382L17.5122 73.4798L57.7437 79.4945L57.7437 59.2382Z" fill="#D7D7D7"/>
                <path d="M71.0951 109.602L104.919 90.3915L104.919 65.4689L71.0951 81.4906L71.0951 109.602Z" fill="white"/>
                <path d="M104.418 66.2592L104.418 90.1007L71.5945 108.743L71.5943 81.8071L104.418 66.2592ZM103.172 65.7432L71.0168 80.9736L58.2427 79.0645L58.2433 59.8091L103.172 65.7432ZM57.6699 79.9891L70.5944 81.9212L70.5952 109.024L18.0113 101.323L18.011 74.0607L57.6699 79.9891ZM57.2429 59.9467L57.2431 78.9147L19.5701 73.2817L57.2429 59.9467Z" stroke="#36363D"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M95.6278 31.2255L112.752 48.3499C112.752 48.3499 114.791 50.389 123.984 41.1966C133.176 32.0042 131.137 29.9651 131.137 29.9651L114.013 12.8407C111.159 9.98703 93.0184 28.616 95.6278 31.2255Z" fill="#F2F2F2" stroke="#262525" stroke-width="0.8"/>
                <path d="M95.6992 31.2969C98.5276 34.1253 116.912 15.7405 114.084 12.9121" stroke="#262525" stroke-width="0.8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M98.1639 23.8611L101.018 26.7152C101.018 26.7152 101.358 27.0551 105.6 22.8124C109.843 18.5698 109.503 18.2299 109.503 18.2299L106.649 15.3759C106.174 14.9003 97.729 23.4262 98.1639 23.8611Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M98.1639 23.8611L101.018 26.7152C101.018 26.7152 101.358 27.0551 105.6 22.8124C109.843 18.5698 109.503 18.2299 109.503 18.2299L106.649 15.3759C106.174 14.9003 97.729 23.4262 98.1639 23.8611Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M98.1639 23.8611L101.018 26.7152C101.018 26.7152 101.358 27.0551 105.6 22.8124C109.843 18.5698 109.503 18.2299 109.503 18.2299L106.649 15.3759C106.174 14.9003 97.729 23.4262 98.1639 23.8611Z" fill="#DFDFDF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M98.1639 23.8611L101.018 26.7152C101.018 26.7152 101.358 27.0551 105.6 22.8124C109.843 18.5698 109.503 18.2299 109.503 18.2299L106.649 15.3759C106.174 14.9003 97.729 23.4262 98.1639 23.8611Z" stroke="#2A2A2D" stroke-width="0.8"/>
                <path d="M98.1758 23.873C98.6472 24.3445 107.132 15.8592 106.661 15.3878" stroke="#2A2A2D" stroke-width="0.8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5232 17.5662L100.948 20.9911C100.948 20.9911 101.356 21.3989 103.124 19.6311C104.891 17.8634 104.484 17.4555 104.484 17.4555L101.059 14.0307C100.488 13.4599 97.0013 17.0443 97.5232 17.5662Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5232 17.5662L100.948 20.9911C100.948 20.9911 101.356 21.3989 103.124 19.6311C104.891 17.8634 104.484 17.4555 104.484 17.4555L101.059 14.0307C100.488 13.4599 97.0013 17.0443 97.5232 17.5662Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5232 17.5662L100.948 20.9911C100.948 20.9911 101.356 21.3989 103.124 19.6311C104.891 17.8634 104.484 17.4555 104.484 17.4555L101.059 14.0307C100.488 13.4599 97.0013 17.0443 97.5232 17.5662Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5232 17.5662L100.948 20.9911C100.948 20.9911 101.356 21.3989 103.124 19.6311C104.891 17.8634 104.484 17.4555 104.484 17.4555L101.059 14.0307C100.488 13.4599 97.0013 17.0443 97.5232 17.5662Z" stroke="#262525" stroke-width="0.8"/>
                <path d="M97.5371 17.5801C98.1028 18.1458 101.638 14.6102 101.073 14.0445" stroke="#262525" stroke-width="0.8"/>
                <path d="M97.8209 19.9844L70.2793 30.8926" stroke="#2A2A2D" stroke-width="0.3" stroke-dasharray="2 2"/>
                <path d="M97.8225 19.9843L84.2793 35.3926M97.8225 19.9843L70.7793 36.8926M97.8225 19.9843L83.2793 48.3926" stroke="#2A2A2D" stroke-width="0.3" stroke-dasharray="2 2"/>
                <rect x="94.9922" y="20.6914" width="3" height="3" transform="rotate(-45 94.9922 20.6914)" fill="white"/>
                <path d="M18.0293 74L0.529297 25.5L42.5293 16L57.5293 60L18.0293 74Z" fill="#EEEEEE" stroke="#2A2A2D" stroke-width="0.8"/>
            </svg>
        </span>
        <span class="cart-checkbox-text">We add a subtle touch of our IFRA compliant signature fragrance to our packages to enhance the unboxing experience. Please let us know if you would like us to apply the scent to your package.</span>
        <span class="custom-checkbox-btn">
            <button class="no-thank" id="confirmCheckoutNoPdp">No Thank You</button>
            <button class="yes-please" id="confirmCheckoutYesPdp">Yes, please</button>
        </span>
        {% comment %} <span class="custom-checkbox-design"></span> {% endcomment %}
    </label>
    </div>  {% endcomment %}

</section>

{% comment %}
  <section class="detail">
    <div class="detail__breadcrumb">
       {% if collection.url %}
        <small>
          {{ collection.title | link_to: collection.url }}
        </small>
        <small> / </small>
      {% endif %}
      <small>
        <a href="{{ product.url | within: collection }}" aria-current="page">{{ product.title }}</a>
      </small>
    </div>
    <div class="row">
      <div class="detail__gallery detail-slider col--6 col--md--8 col--lg--6">
        <ul class="swiper-wrapper">
         {% for image in product.images %}
            <li class="swiper-slide">
              <div class="detail__gallery__img">
                <img src="{{ image.src | img_url: 'master' }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" />
              </div>
            </li>
          {% endfor %}
          {% if product.media.size > 0 %}
            {%- for media in product.media -%}
              {%- if media.media_type == 'video' -%}
                {%- for source in media.sources -%}
                  {%- if source.format == 'mp4' -%}
                    {%- assign video_url = source.url -%}
                  {%- endif -%}
                {%- endfor -%}
                <li class="swiper-slide">
                  <div class="detail__gallery__video">
                    <button class="video__inner" aria-label="Video modal opener" data-video-src="{{ video_url }}">
                      <div class="video__inner__poster">
                        <img src="{{ media.preview_image | img_url: 'master' }}" alt="{{ media.alt | escape }}" />
                      </div>
                      <div class="video__inner__btn">
                        <p class="medium">Watch</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                          <path d="M5 3.00003L0 5.88678L2.52368e-07 0.113281L5 3.00003Z" fill="#E6E0D4" />
                        </svg>
                      </div>
                    </button>
                  </div>
                </li>
              {%- endif -%}
            {%- endfor -%}
          {% endif %}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
        <div class="detail__sidebar col--6 col--md--8 col--lg--6">
            <div class="detail__sidebar__content">
                <div class="detail__sidebar__intro">
                    <h2>{{ product.title }}</h2>
                    <p class="text--body medium">{{ product.selected_or_first_available_variant.price | money }}</p>
                </div>
                <hr />
                <select id="product-variants-select" name="id" class="variant-select" style="display: none;">
                  {%- for variant in product.variants -%}
                    <option {% if product.selected_or_first_available_variant.id == variant.id %}selected="selected"{% endif %} data-price="{{ variant.price | money }}" data-val="{{ variant.title }}" data-variant-available="{{ variant.available }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {%- endfor -%}
                </select>
                {%- unless product.has_only_default_variant -%}
                  {% for option in product.options_with_values %}
                    {% if option.name == 'Color' %}
                      <div class="detail__sidebar__colors" data-product-option-index="{{ option.position }}">
                        <div class="detail__sidebar__colors__text">
                            <strong>Colour:</strong>
                            <p class="detail__sidebar__colors__text__label">{{ option.selected_value }}</p>
                        </div>
                        <div class="detail__sidebar__colors__images">
                            {%- for value in option.values -%}
                              {% liquid
                                assign option_disabled = true
                                if value.available
                                  assign option_disabled = false
                                endif
                              %}
                              <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}" name="{{ option.name }}-{{ option.position }}" value="{{ value | escape }}" form="{{ product_form_id }}"
                                {% if value.selected %}
                                  checked
                                {% endif %}
                                {% if option_disabled %}
                                  class="disabled"
                                {% endif %}
                              >
                              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}" class="detail__sidebar__colors__images__item" data-color="{{ value }}">
                                {% assign variant_image = product.images | where: 'alt', value | first | image_url %}
                                {% if variant_image != blank %}
                                  <img src="{{ product.images | where: 'alt', value | first | image_url }}" alt="{{ value }}" />
                                {% else %}
                                  {{ value }}
                                {% endif %}
                              </label>
                            {%- endfor -%}
                            <span class="detail__sidebar__colors__images__selection"></span>
                        </div>
                      </div>
                    {% else %}
                      <div class="purchase-cta" data-product-option-index="{{ option.position }}">
                        <div class="purchase-cta__text">
                          <strong>{{ option.name }}:&nbsp;</strong>
                          {%- if option.name == 'Size' -%}
                            {%- assign recommended_size = '' -%}
                            {%- for tag in product.tags -%}
                              {%- if tag contains 'Tops' or tag contains 'Jackets' or tag contains 'Knitwear' or tag contains 'Hoodies' -%}
                                  {%- assign recommended_size = customer.metafields.custom.size_tops -%}
                              {%- elsif tag contains 'Bottoms' or tag contains 'Joggers' or tag contains 'Shorts' -%}
                                  {%- assign recommended_size = customer.metafields.custom.size_bottoms -%}
                              {%- elsif tag contains 'Shoes' -%}
                                  {%- assign recommended_size = customer.metafields.custom.size_shoes -%}
                              {%- endif -%}
                            {%- endfor -%}

                            {%- if recommended_size != blank -%}
                              <p>Your recommended size is <span class="recommended-size medium" data-recommended-size="{{ recommended_size }}">{{ recommended_size | capitalize }}</span></p>
                            {%- else -%}
                              <p class="selected-option">{{ option.selected_value }}</p>
                            {%- endif -%}
                          {%- else -%}
                            <p class="selected-option">{{ option.selected_value }}</p>
                          {%- endif -%}

                          {%- if option.name == 'Size' -%}
                            <a href="#" class="btn btn--underline"><p>Size Guide</p></a>
                          {%- endif -%}
                        </div>

                        {%- assign selected_size = recommended_size | default: option.selected_value | capitalize -%}
                        <select name="{{ option.name }}" class="c-select" id="select-option">
                          {%- for value in option.values -%}
                            <option {% if selected_size == value %}selected{% endif %} value="{{ value }}">{{ value }}</option>
                          {%- endfor -%}
                        </select>
                      </div>
                    {% endif %}
                  {% endfor %}
                {%- endunless -%}
                {% render 'buy-buttons', product: product, product_form_id: product_form_id %}

              <div class="accordion__list">
                {% assign show_collapsible_content = true %}
                {%- for i in (1..5) -%}
                  {% assign key = 'accordion_' | append: forloop.index | append: '_title' %}
                  {% assign title = product.metafields.custom[key].value %}
                  {% assign content_key = 'accordion_' | append: forloop.index | append: '_content' %}
                  {% assign content_accordion = product.metafields.custom[content_key] %}
                  {%- if title != blank and content_accordion != blank -%}
                    {% assign show_collapsible_content = false %}
                    <details class="accordion">
                      <summary class="accordion__head">
                        <p class="medium">
                          {% if title != blank %}
                            {{ title }}
                          {% endif %}
                        </p>
                      </summary>

                      <div class="accordion__body">
                        <div class="accordion__body__inner">
                          {% if content_accordion != blank %}
                            {{ content_accordion | metafield_tag }}
                          {% endif %}
                        </div>
                      </div>
                    </details>
                  {%- endif -%}
                {%- endfor -%}

                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'collapsible_content' -%}
                    {% if block.settings.collapsible_title != blank and show_collapsible_content %}
                      {% assign key = 'accordion_' | append: forloop.index | append: '_title' %}
                      {% assign title = product.metafields.custom[key].value %}
                        <details class="accordion">
                          <summary class="accordion__head">
                            <p class="medium">
                              {% if title != blank %}
                                {{ title }}
                              {% else %}
                                {{ block.settings.collapsible_title | escape }}
                              {% endif %}
                            </p>
                          </summary>

                          <div class="accordion__body">
                            <div class="accordion__body__inner">
                              {% assign content_key = 'accordion_' | append: forloop.index | append: '_content' %}
                              {% assign content_accordion = product.metafields.custom[content_key].value %}
                              {% if content_accordion != blank %}
                                {{ content_accordion }}
                              {% else %}
                                {{ block.settings.collapsible_content }}
                              {% endif %}
                            </div>
                          </div>
                        </details>
                      {% endif %}
                  {%- endcase -%}
                {%- endfor -%}
              </div>
              {%- if product.description != blank -%}
                <div class="detail__sidebar__model-size text--body" {{ block.shopify_attributes }}>
                  {{ product.description }}
                </div>
              {%- endif -%}
            </div>
            <div class="detail__sidebar__sticky">
                <div class="detail__sidebar__sticky__cta">
                    <div class="detail__sidebar__sticky__cta__content">
                        <h4>{{ product.title }}</h4>
                        <div>
                          <strong>{{ product.selected_or_first_available_variant.price | money }}</strong>
                          <p>{{ product.selected_or_first_available_variant.title }}</p>
                        </div>
                    </div>
                    {% render 'buy-buttons' %}
                </div>
            </div>
        </div>
    </div>
  </section>
{% endcomment %}

<script>
function shareProduct() {
  if (navigator.share) {
    navigator.share({
      title: "{{ product.title }}",
      text: "Check out this product",
      url: "{{ shop.url }}{{ product.url }}"
    });
  } else {
    navigator.clipboard.writeText("{{ shop.url }}{{ product.url }}");
    alert("Product link copied to clipboard");
  }
}
</script>

{% schema %}
{
  "name": "Product details DD",
  "settings": [
    {
      "type": "image_picker",
      "id": "international_sizechart_image",
      "label": "International Sizechart Image"
    },
    {
      "type": "image_picker",
      "id": "international_sizechart_mobile_image",
      "label": "International Sizechart Image For Mobile"
    },
    {
      "type": "checkbox",
      "id": "add_slider",
      "label": "Add Slider",
      "default": false
    },
    {
      "type": "header",
      "content": "Media Video"
    },
    {
      "type": "checkbox",
      "id": "show_video",
      "label": "Show Video",
      "default": false
    },
    {
      "type": "text",
      "id": "media_text",
      "label": "Media text"
    },
    {
      "type": "header",
      "content": "Shiping Info"
    },
    {
      "type": "textarea",
      "id": "free_next_day_svg",
      "label": "Free Next Day SVG"
    },  
    {
      "type": "text",
      "id": "shipping_text",
      "label": "Shipping text",
      "default": "Free next day UK delivery if ordered before 3pm, Mon-Fri"
    },
    {
      "type": "textarea",
      "id": "free_exchange_svg",
      "label": "Free Exchange SVG"
    },  
    {
      "type": "text",
      "id": "free_exchange_text",
      "label": "Free Exchange Text",
      "default": "Free Exchanges & Store Credit returns"
    },
    {
      "type": "textarea",
      "id": "elarna_finance_svg",
      "label": "Elarna Finance SVG"
    },  
    {
      "type": "text",
      "id": "elarna_finance_text",
      "label": "Elarna Finance Text",
      "default": "Klarna Finance available with 3 x £43 payments"
    },
    {
      "type": "header",
      "content": "Buy the look"
    },
    {
      "type": "checkbox",
      "id": "show_custom_buy_the_look",
      "label": "Buy the look show",
      "default": false
    },
    {
      "type": "inline_richtext",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "inline_richtext",
      "label": "Heading 2",
      "id": "heading2",
      "default": "STYLE IT WITH"
    },
    {
      "type":"header",
      "content": "Fits Diagram"
    },
    {
      "type":"text",
      "id": "fits_label",
      "label":"Title"
    },
    {
      "type":"text",
      "id": "fits_tight",
      "label":"Tight"
    },
    {
      "type":"text",
      "id": "fits_middle",
      "label":"True to size"
    },
    {
      "type":"text",
      "id": "fits_loose",
      "label":"Loose"
    },
    {
      "type": "text",
      "id": "arrow_selector",
      "label": "Arrow selector",
    },
    {
      "type": "range",
      "id": "installments_count",
      "label": "Number of payments",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "type": "text",
      "id": "installment_text_before",
      "label": "Text before price",
      "default": "payments of"
    },
    {
      "type": "text",
      "id": "installment_text_after",
      "label": "Text after price",
      "default": "at 0% interest with"
    },
    {
      "type":"header",
      "content": "Different Model"
    },
    {
      "type": "text",
      "id": "different_model",
      "label": "Different Model Title",
      "default": "view on a different  model "
    }
  ],
  "blocks": [
    {
      "type": "product_title",
      "name": "Product title",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    },
    {
      "type": "collapsible_content",
      "name": "Collapsible content",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "collapsible_content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Overview"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "Tab Content (Fallback if no metafield)",
          "default": "<p>Write your content here...</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_trustpilot",
          "label": "Enable Trustpilot Widget",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
